.projectsBlock {
    height: 100vh;
    background-color: #f64312;

}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: aqua;
}

.projects {
    border: 1px dashed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
