.mainBlock {
    height: 100vh;
    background-color: #f3c8f2;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.text {
    width: 300px;
    background-color: #f6f6f6;
}

.photo {
    width: 300px;
    height: 500px;
    background-color: #f6f6f6;
}

