.skillsBlock {
height: 100vh;
    background-color: #b5e7ab;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #c7c7f3;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}