.title {
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    position: relative;
    line-height: 1.4;
    margin-bottom: 30px;
}

.title h2 {
    margin: 0;
}
