.projectBlock {
    width: 200px;
    background-color: #e5cdce;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

/*.img {*/
/*    height: 150px;*/
/*    width: 200px;*/
/*    background-color: #e7b09d;*/
/*}*/

.projectContainer {
    border: 1px dashed;
    height: 200px;
    width: 100%;
    background-image: url("https://w7.pngwing.com/pngs/697/992/png-transparent-todoist-wunderlist-task-android-logo-action-item-symbol.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    height: 30px;
    width: 120px;
    background-color: #646363;
}

.title {

}

.description {

}