@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';


.projectBlock {
    width: 200px;
    background-color:$bgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .image {
        height: 200px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .image::before {
            position: absolute;
            content: '';
            background-color: $bgSecondColor;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
        .button {
            height: 30px;
            width: 120px;
            background-color: $primaryColor;
            position: relative;
            z-index: 1;
        }
    }
    .projectInfo {
        padding: 25px 20px;
        .projectTitle {
            @include text ($titleFontFamily, 18px, 600);
            margin-top: 10px;
            margin-bottom: 10px;
            text-decoration: none;

        }
        .description {
            //@include text();

            font-family: mulish;
            color: #767676;
            position: relative;
            display: inline-block;
            font-style: italic;
        }
    }
}






