@import '../../../common/styles/sass/variables';
@import "../../../common/styles/sass/mixins";

.burgerNav {
  width: 100%;
  height: 100%;
  position: relative;


  //position:fixed;
  //top: 0;
  .navLink {
    transition-duration: 1s;
    cursor: pointer;
    color: $primaryColor;
    //transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .navLink:hover {
    background-color: white; /* Green */
    color: black;
  }

  .burgerNavItems {
    color: $primaryColor;
    padding: 4px 0;
    font-family: poppins;
    font-weight: 500;
    scroll-behavior: smooth;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #9bd1f8;
   display: none;
  }

  .show {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  .active {

  }
  .burgerNavBtn {
    width: 30px;
    height: 30px;
    background-color: mistyrose;
    position: absolute;
    top: 26px;
    right: 1px;
  }
@media screen and (min-width: 400px){
display: none;
}
}



