.footerBlock {
    height: 100vh;
    background-color: #c3d72b;
}

.name {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: end;
}