.footerBlock {
    height: 20vh;
    background-color: #c3d72b;
    display: flex;
    justify-content: center;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 1%;
}

.name {
    height: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px dashed;
    margin-bottom: 1%;
}



.copyRight {

    display: flex;
    justify-content: center;
}