@import '../../common/styles/sass/variables';

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: $primaryColor;
  padding: 4px 0;
  font-family: poppins;
  font-weight: 500;

}

.navLink {
  transition-duration: 0.4s;
  cursor: pointer;
  color: $primaryColor;
}

.navLink:hover {
  background-color: white; /* Green */
  color: black;
}