@import '../../common/styles/sass/variables';

.contactsBlock {
    padding:100px;
    background-color: #dedbdb;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form {
        height: 230px;
        width: 300px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        .input {
            height: 30px;
            margin-top: 5px;
        }
        .textarea {
            height: 140px;
            margin-top: 5px;
        }
    }
    .button {
        background-color: $primaryColor;
        height: 50px;
        width: 200px;
        text-decoration: none;
        color: #fff;
        padding: 13px 50px;
        display: inline-block;
        border: 2px solid #000;
        font-style: italic;
        margin-top: 5px;
    }
}

//.title {
//    display: flex;
//    flex-direction: column;
//    justify-content: flex-start;
//    align-content: center;
//}








