.contactsBlock {
    height: 100vh;
    background-color: #ef7352;
}

.title {
    background-color: #c7c7f3;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button {
    background-color: gray;
    width: 100px;
}